.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 100px;
}
.groupItem {
  position: absolute;
  top: -1px;
  left: -1px;
  border-right: 2px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 2px;
  height: 39px;
}
.asgaardSofa {
  position: absolute;
  top: 6px;
  left: 34px;
}
.groupWrapper,
.lineParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 142px;
  height: 37px;
}
.groupWrapper {
  top: 31px;
  left: 312px;
  color: var(--color-black);
}
.home {
  position: absolute;
  top: 0;
  left: 0;
}
.dashiconsarrowUpAlt2 {
  position: absolute;
  top: 2px;
  left: 62px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.homeParent,
.rectangleParent,
.shopParent {
  position: absolute;
  top: 38px;
  left: 99px;
  width: 82px;
  height: 24px;
}
.rectangleParent,
.shopParent {
  left: 205px;
}
.rectangleParent {
  top: 114px;
  left: 0;
  width: 1440px;
  height: 100px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
  font-family: var(--font-poppins);
}
