.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 123px;
  height: 64px;
}
.div,
.div1,
.div2 {
  position: absolute;
  top: 20px;
  left: 15px;
}
.div1,
.div2 {
  left: 100px;
}
.div2 {
  left: 59px;
  font-weight: 500;
}
.rectangleParent {
  position: absolute;
  top: 430px;
  left: 1px;
  width: 123px;
  height: 64px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
